.container-tag-search {
	  	  width: 60%;
	  	  margin: 10px auto;
	    }

.my-container-tag {
	   	  border:2px solid #ccc;
	   	  padding: 10px;
	   	  border-radius: 5px;
	   	  display: flex;
	   	  flex-wrap: wrap;
	   	  align-content: flex-start;
	   	  padding: 6px;
  		  overflow-x: scroll;
	   }

.my-container-tag .my-tag {
	   	  padding: 5px;
	   	  border: 1px solid #ccc;
	   	  margin: 5px; 
	   	  display: flex;
	   	  align-items: center;
	   	  border-radius: 3px;
	   	  background: #F2F2F2;
	   	  cursor: default;
	   }

.my-tag #tag-icon {
	   	   font-size: 16px;
	   	   margin-left: 3px;
	   }

.my-container-tag input {
	   	   flex: 1;
	   	   font-size: 16px;
	   	   padding: 5px;
	   	   outline: none;
	   	   border: 0;
	   }
